{% extends 'mailings/base.html' %}

{% block content %}
<div class="col">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Рассылка</th>
            <th scope="col">Дата и время последней попытки</th>
            <th scope="col">Статус попытки</th>
            <th scope="col">Ответ сервера</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row">{{object.pk}}</th>
            <td>{{object.mailing}}</td>
            <td>{{object.timestamp}}</td>
            <td>{{object.status}}</td>
            <td>{{object.response}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
