{% extends 'mailings/base.html' %}

{% block content %}
<div class="col-6">
    <div class="card-header">
        <h4 class="my-0  mb-4 font-weight-normal">Создание рассылки</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-50">Сохранить</button>
    </form>
    </div>
    <div class="card-footer mt-4">
    </div>
</div>
{% endblock %}
