{% extends 'mailings/base.html' %}
{% load my_tags %}

{% block content %}
{% if not request.user|has_group:"moderator" %}
<div class="col-12">
    <p><a class="btn btn-outline-primary" href="{% url 'mailings:create_message' %}" role="button">Создать сообщение</a></p>
</div>
{% endif %}

{% for object in object_list %}
<div class="col-6">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Тема сообщения: {{object.subject}}</li>
                <li>Содержание: {{object.content}}</li>
            </ul>
            {% if object.owner == request.user %}
            <div class="btn-group">
                <a href="{% url 'mailings:edit_message' object.pk %}" class="btn btn-outline-success" role="button">Редактировать</a>
                <a href="{% url 'mailings:delete_message' object.pk %}" class="btn btn-outline-danger" role="button">Удалить</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
