{% extends 'mailings/base.html' %}

{% block content %}
<div class="col-3"></div>
<div class="col-6">
    <div class="card-header">
        <h4 class="my-0  mb-4 font-weight-normal">Восстановление пароля</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
<p>На указанный email будет отправлен новый пароль</p>
            <button type="submit" class="btn btn-primary w-50 mb-4">Восстановить</button>
        </form>

        <div class="card-footer mt-4"></div>
    </div>
</div>
{% endblock %}
